[submodule "BlackList/Interception/lib/forge-std"]
	path = BlackList/Interception/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Regulation/lib/forge-std"]
	path = Regulation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Regulation/lib/openzeppelin-contracts"]
	path = Regulation/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
